#line-chart-container {
    display: flex;
}

.placeholder-text {
    margin-left: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
}

h1 {
    margin: 20px 0;
}

svg {
    width: 100vw;
    height: 600px;
    display: block;
    margin: auto;
    background-color: #f0f0f0;
}
