.placeholder-text {
  margin-left: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  background-color: #f5f5f5;
}

h1 {
  margin: 20px 0;
  color: rgb(209, 84, 105);
}

h4 {
  color: rgb(18 58 10);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  max-width: 400px;
}

svg {
  width: 100vw;
  /* height: 600px; */
  display: block;
  margin: auto;
  /* background-color: #f0f0f0; */
}

.tooltip-line {
  color: purple;
}

#tooltip-line-chart {
  position: absolute;
  background-color: rgb(194, 167, 236);
  font-size: 14px;
  color: black;
  opacity: 0.9;
  z-index: 999;
  border-radius: 10%;
  padding: 15px;
  display: none;
}

.dropdown {
  max-width: 250px;
  margin-bottom: 50px;
  margin-top: 20px;
}

.x-axis text {
  white-space: pre;
  line-height: 1.2;
}

#brand-vis {
  width: 750px !important;
  height: 450px !important;
}

#brand-legend {
  position: relative;
  width: 100%;
  text-align: center;
  z-index: 10;
}

#solution-intro-text {
  color: #452779;
  font-size: 24px;
}

#solution-text {
  font-weight: 500;
  color: #163958;
  font-size: 40px;
}

#solution-explanation-text {
  width: 51%;
  font-size: 20px;
  text-align: left;
  padding: 22px 22px 22px 26px;
  color: #f8f9fa;
  margin-bottom: 15px;
  background-color: #7db5e7;
  border-radius: 3%;
  max-width: 700px;
}

h2 {
  margin-top: 20px !important;
  color: rgb(109, 15, 109);
  margin-bottom: 10px;
}

h5 {
  margin-top: 20px;
  color: rgb(160 39 150 / 66%);
  font-size: 30px;
}

#trends-info-container {
  padding: 10px;
}
/* On screens that are 992px or less, set the background color to blue */

#trends-chart-container {
  width: 550px;
  height: 400px;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 200px; 
  overflow-y: auto;
}

.dropdown-group {
  display: flex;
  padding: 10px;
  align-items: center;
  color: black;
}

.dropdown-group > label {
  flex: 0 0 80px;
  text-align: left;
  padding-right: 15px;
}

.dropdown-group > select {
  flex: 1;
  width: 200px;
  max-width: 200px;
  margin: 0;
  padding: 8px;
}
#trends-container {
  /* justify-content: center; */
  flex-wrap: wrap;
}

#trends-legend {
  padding: 10px;
}

.axis {
  color: black;
}

.trends-insights {
  color: rgb(211, 35, 111);
  font-size: 16pxs;
  background-color: pink;
  border-radius: 3%;
  padding: 10px;
  margin-bottom: -30px;
}

.slides {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.slides-intro > div > h2 {
  color: rgb(110 92 25 / 94%);
}

.trends-quote {
  font-size: 24px;
  color: rebeccapurple;
  margin-top: -15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trends-quote > p {
  width: fit-content;
  background-color: #d1a7f7;
  padding: 14px;
  border-radius: 3%;
}

.col-md-4 > div {
  color: black; 
}  

.col-md-2 > div {
  color: black; 
}  

#pie-chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Adjust spacing */
  width: 100%;
  height: auto;
  overflow: visible;
  position: relative;
  margin-left: 50px; /* Push right */
}

#brand-legend label {
  display: block;
  width: 100%;
  margin-bottom: 5px;
} 

#yearCheckboxes label, #yearCheckboxes label input {
  color: black !important;
}

#yearCheckboxes label {
  color: black !important;
  display: flex;
  align-items: center;
  gap: 5px; /* Adjust as needed */
  margin-bottom: 2px; /* Reduce space between checkboxes */
}

#filters {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align items */
  gap: 10px; /* Add spacing between the two sections */
  width: 100%;
  margin-top: 50px;
  text-align: center;
  overflow: visible !important;
  margin-left: 20px;
}

.slides-pie-chart .row {
  justify-content: center;
}

.col-md-6:first-child {
  display: flex;
  justify-content: flex-end;
}

.col-md-6:last-child {
  display: flex;
  justify-content: flex-start;
}

#legend {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.legend-item {
    display: flex;
    gap: 5px;
}

.legend-color {
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 3px;
}

.insight-text {
    text-align: center;
    max-width: 90%;
  color: black;
}

/* scrollable view css */

.flex-container {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  margin: 0; /* Reset margins */
  padding: 0; /* Reset padding */
}

.slides {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  scroll-snap-align: start;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.slides-intro {
  flex-direction: column;
  background: linear-gradient(
    141deg,
    rgb(244, 185, 120) 0%,
    rgb(255, 210, 140) 50%,
    rgb(255, 220, 180) 100%
  );
}

.slides-intro-1 {
  background: linear-gradient(
    141deg,
    rgb(244, 185, 120) 0%,
    rgb(255, 210, 140) 50%,
    rgb(255, 220, 180) 100%
  );
}

.slides-intro-1-1 {
  background: linear-gradient(
    141deg,
    rgb(244, 185, 120) 0%,
    rgb(255, 210, 140) 50%,
    #d1a7f7 100%
  );
}
.slides-trends {
  background-color: rgba(255, 213, 255, 255);
  align-items: normal !important; 
}

.slides-outro {
  background: linear-gradient(141deg, #d1a7f7 0%, #a8c4f7 50%, #7db5e7 100%);
}

.slides-title {
  /* background: linear-gradient(141deg, #d1a7f7 0%, #a8c4f7 50%, #7db5e7 100%); */
  background-color: rgba(253, 224, 192, 255);
  flex-direction: column;
}

.slides-intro-2 {
  background: linear-gradient(141deg, #d1b5eb 0%, #e9b6d1 50%, #ebcfec 100%);
}

.slides-worldmap {
  background: linear-gradient(141deg, #fef4b0 0%, #e1c4e3 50%, #c2a9db 100%);
}

.slides-footprint {
  background: linear-gradient(141deg, #fef4b0 0%, #e1c4e3 50%, #c2a9db 100%);
}

.slides-global-info {
  background: linear-gradient(141deg, #a0d2f7 0%, #b5c6f7 50%, #e1a9f7 100%);
}

.slides-brand-sales {
  background: linear-gradient(141deg, #a0d2f7 0%, #b5c6f7 50%, #e1a9f7 100%);
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 900px) {
  #trends-chart-container {
    width: 350px;
    height: 260px;
  }

  .dropdown-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
    justify-content: space-between; /* Align items to the start and end of the container */
  }

  .dropdown-group {
    display: flex;
    align-items: center;
    flex: 1 0 48%; /* This will ensure each dropdown takes 48% of the container width */
    margin-right: 10px; /* Space between dropdown groups */
  }

  #trends-info-container {
    margin-left: 0px;
    display: flex;
    width: 100%;
  }

  .trends-quote {
    font-size: 14px;
  }

  .row {
    margin-left: 0 !important;
    margin: 0; /* Reset margins */
    padding: 0; /* Reset padding */
  }

  .trends-insights {
    font-size: 12px;
  }
}

@media screen and (min-width: 600px) {
  .slides-intro-1 > h4 {
    width: 500px;
  }
}

/* WORLD MAP VIS */

#controls-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 20px auto;
  padding: 0 20px;
}

/* Center Dropdown + Legend */
#dropdown-legend-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

/* Dropdown Styling */
#metricSelectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
}

#metricSelection {
  padding: 5px;
  font-size: 14px;
  width: 190px;
  margin: 10px 0;
}

/* Legend Styling */
#legendContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 5px;
}

#legendSvg {
  width: 300px;
  height: 50px;
  margin-top: 0px;
}

#yearSliderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

.slider-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

#yearSlider {
  flex-grow: 1;
}

#startYearLabel,
#endYearLabel {
  font-size: 14px;
  font-weight: bold;
  width: 40px;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
}

.slider-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.noUi-connect {
  background: #d9534f !important;
}

#legendContainer text {
  fill: black !important;
}

#impactText {
  color: black !important;
}

#startYearLabel,
#endYearLabel,
#yearSliderContainer label {
  color: black !important;
  font-weight: bold;
}

#metricSelectionContainer label {
  color: black !important;
  font-weight: bold;
}

#map-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  max-width: 1200px;
  margin: 20px auto;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  height: auto;
}

#world-map {
  flex-grow: 1;
  max-width: 65%;
  height: auto;
  overflow: hidden;
}

#impactText {
  flex-basis: 30%;
  max-width: 400px;
  text-align: left;
  font-size: clamp(12px, 2.5vw, 15px); /* Fluid font size */
  overflow-y: visible;
  max-height: none;
  padding: 10px;
  box-sizing: border-box;
  word-wrap: break-word;
  overflow: hidden;
}

/* Responsive Styles */
@media screen and (max-width: 900px) {
  #controls-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #yearSliderContainer {
    margin-left: 0;
    margin-top: 15px;
  }

  #map-container {
    flex-direction: column;
    align-items: center; /* Center items vertically */
    gap: 20px;
    max-height: none;
  }

  #world-map {
    max-width: 100%;
    max-height: 60vh;
  }

  #impactText {
    max-width: 100%;
    font-size: clamp(12px, 2.5vw, 14px);
    padding: 10px 20px;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  #world-map {
    max-height: 50vh;
  }

  #map-container {
    gap: 10px;
  }

  #impactText {
    font-size: clamp(10px, 2.5vw, 12px);
    padding: 10px;
    max-height: 150px;
  }
}

@media screen and (min-width: 900px) {
  #world-map {
    max-width: 65%;
    height: auto;
  }
}

/* CARBON FOTTPRINT VIS*/
#controls label {
  color: black;
}
#carbonText {
  color: black !important;
  /* padding: 50; */
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

#sortButton {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

#sortButton:hover {
  background-color: #0056b3;
}

/* #controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 100%;
} */

#materialSelection {
  width: 200px;
  margin: 10px 0;
}

#controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 10px;
  overflow: auto; 
  max-height: 300px;
}

#dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#avg-legend-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

#legend {
  display: flex;
  gap: 15px;
  margin-top: 5px;
}

.legend-item {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  color: black !important;
}

#brand-legend {
  min-width: 100%;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  text-align: center;
}

#brands-legend {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; 
  justify-content: center;
  width: 100%;
  max-width: 250px; 
  margin: 0 auto; 
  flex-direction: column;
  margin-left: 120px; 
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.green { background-color: green; }
.red { background-color: red; }

#avg-legend-container p{
  color: black;
}

#bigfoot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  max-height: 300px;
}

#bigfoot-svg {
  width: auto;
  height: auto;
}

#carbonText {
  font-size: clamp(12px, 2.5vw, 15px);
}

@media screen and (max-width: 1200px) {
  #carbonText {
    font-size: 15px;
  }
}

@media screen and (max-width: 900px) {
  #carbonText {
    font-size: 10px;
  }
}

@media screen and (max-width: 600px) {
  #carbonText {
    font-size: 9px;
  }
}

@media screen and (max-width: 400px) {
  #carbonText {
    font-size: 12px;
  }
}
.dataset-trends-text {
  font-size: 14px;
  margin-top: 100px;
  width: 50%;
  justify-content: center;
}

.tooltip-date {
  font-size: 24px;
}

/* hyperlink styling */
a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: hotpink;
}

a:active {
  color: hotpink;
}
